---
layout: compress
extra_js:
  - recent-posts.js
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home-body">

    {% include header.html %}
    <div class="home-hero">
      <div class="bounds bounds--header">
        <h1>Build amazing mobile apps powered by open web tech.</h1>
        <a href="/getstarted/" class="button--cta">Start Now</a>
        <a href="#benefits" class="link--learn-more">Learn more</a>
      </div>
      <footer>
        <!-- PhoneGap Day Banner -->
        <!-- {% include banner.html %} -->
        <div class="bounds">
          <section class="hero-footer__section" itemscope itemtype="http://schema.org/SoftwareApplication" >
            <meta itemprop="ApplicationCategory"  content="hybrid mobile applications, web development"/>
            <meta itemprop="OperatingSystem" content="iOS, Android, Windows, Blackberry"/>
            <meta itemprop="name" content ="Phonegap"/>
            <meta itemprop="isBasedOn" content ="Apache Cordova" />
            <meta itemprop="License" content="https://github.com/phonegap/phonegap.github.io/blob/master/LICENSE"/>
            <h2>Create your app with PhoneGap</h2>
            <p>Reuse existing web development skills to quickly make hybrid applications built with HTML, CSS and JavaScript. Create experiences for multiple platforms with a single codebase so you can reach your audience no matter their device.</p>
            <a href="http://docs.phonegap.com" class="button--pill--next">Guides &amp; Docs</a>
          </section>
          <div class="vr">&nbsp;</div>
          <section class="hero-footer__section">
            <h2>Package your app in the cloud</h2>
            <p>PhoneGap Build takes the pain out of compiling PhoneGap apps. Get app-store ready apps without the headache of maintaining native SDKs. Our PhoneGap Build service does the work for you by compiling in the cloud.</p>
            <a href="http://build.phonegap.com" class="button--pill--next">Find out more</a>
          </section>
        </div>
      </footer>
    </div>

    <div class="page-content">
      <div class="bounds">
        <section id="benefits" class="benefits">
          <h3>Reap the benefits of open source</h3>
          <p>From the team behind <a href="https://cordova.apache.org/">Apache Cordova</a>, the Adobe PhoneGap framework is an open source distribution of Cordova — providing the advantage of technology created by a diverse team of pros along with a robust developer community — plus access to the PhoneGap toolset, so you can get to mobile faster.</p>
        </section>
        <section class="tools">
          <ul>
            <li class="home-gid__item">
              <a href="/products#desktop-app-section">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-wand.svg %}</div>
                  <h4 class="home-gid__item__title">PhoneGap Desktop App</h4>
                </header>
                <p>Our desktop app is the snappiest way to create new PhoneGap apps without using the command line.</p>
                <footer>
                  Learn more
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="/products#mobile-app-section">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-bolt.svg %}</div>
                  <h4 class="home-gid__item__title">PhoneGap Developer</h4>
                </header>
                <p>Use our mobile app to connect your devices to your development machine, then see the changes you make instantly</p>
                <footer>
                  Learn more
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="http://build.phonegap.com">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-cloud.svg %}</div>
                  <h4 class="home-gid__item__title">PhoneGap Build</h4>
                </header>
                <p>Take the pain out of compiling locally &mdash; get app-store ready apps without the headache of maintaining native SDKs.</p>
                <footer>
                  Learn more
                </footer>
              </a>
            </li>

            <li class="home-gid__item" itemscope itemtype="http://schema.org/SoftwareApplication">
              <meta itemprop="ApplicationCategory" content ="hybrid mobile applications"/>
              <meta itemprop="OperatingSystem" content= "iOS, Android, windows, Blackberry" />
              <meta itemprop="name" content ="PhoneGap Plugins"/>
              <meta itemprop="ApplicationSuite" content="PhoneGap"/>
              <a href="http://cordova.apache.org/plugins/">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-puzzle.svg %}</div>
                  <h4 class="home-gid__item__title">Plugin Library</h4>
                </header>
                <p>Get access to the robust library of plugins to fully extend the capabilities of your hybrid mobile applications.</p>
                <footer>
                  Go to the library
                </footer>
              </a>
            </li>

            <li class="home-gid__item" itemscope itemtype="http://schema.org/SoftwareApplication">
              <meta itemprop="ApplicationCategory" content ="hybrid mobile applications"/>
              <meta itemprop="OperatingSystem" content=" iOS, Android, windows, Blackberry"/>
              <meta itemprop="name" content="Third Party Tools"/>
              <meta itemprop="ApplicationSuite" content = "PhoneGap"/>
              <a href="/tool/">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-chest.svg %}</div>
                  <h4 class="home-gid__item__title">Third Party Tools</h4>
                </header>
                <p>Find additional tools created by our amazing community to help you test, debug and manage your apps.</p>
                <footer>
                  View the tools
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="https://forums.adobe.com/community/phonegap">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-heart.svg %}</div>
                  <h4 class="home-gid__item__title">Developer Community</h4>
                </header>
                <p>Connect and collaborate with our community of thousands, from beginners to experts, all working with PhoneGap.</p>
                <footer>
                  Join the conversation
                </footer>
              </a>
            </li>

          </ul>
        </section>
        <section class="app-showcase">
          <h3>See what’s possible with PhoneGap</h3>
          <div class="app-showcase__box">
            <div>Featured apps from our <a href="/app">App Showcase</a></div>
            <ul>
              <li itemscope itemtype="http://schema.org/MobileApplication"><a href="/app/tripcase/">
                <meta itemprop="ApplicationCategory" content ="travel"/>
                <meta itemprop="OperatingSystem" content="iOS, Android"/>
                <meta itemprop="isBasedOn" content ="Phonegap"/>
                <div class="app-showcase__img" style="background-image: url('/images/tripcase-icon.jpg')"></div>
                <div class="app-showcase__title" itemprop="name">Tripcase</div>
                <div class="app-showcase__developer">by Sabre Inc.</div>
                <div class="app-showcase__platforms"><span class="detritus">Available for </span>iOS and Android</div>
              </a></li>
              <li itemscope itemtype="http://schema.org/MobileApplication"><a href="/app/sworkit/">
                <meta itemprop="ApplicationCategory" content ="work"/>
                <meta itemprop="OperatingSystem" content="iOS, Android"/>
                <meta itemprop="isBasedOn" content ="Phonegap"/>
                <div class="app-showcase__img" style="background-image: url('/images/sworkit-icon.jpg')"></div>
                <div class="app-showcase__title" itemprop="name">Sworkit</div>
                <div class="app-showcase__developer" itemprop="author">by Nexercise</div>
                <div class="app-showcase__platforms"><span class="detritus">Available for </span>iOS and Android</div>
              </a></li>
            </ul>
          </div>
        </section>
        <hr/>
        <section class="latest-blog" id="latest-blog">
        </section>
      </div>
    </div>
    <div class="sub-footer">
      <div class="bounds">
        <h3 class="sub-footer__title">Dig into documentation</h3>
        <div class="sub-footer__description">
            Whether you’re looking for <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/">in-depth guides</a> on how to get started creating PhoneGap apps or <a href="http://docs.phonegap.com/references/desktop-app/">helpful references</a> for using the PhoneGap tools, this is the place to go. How could you go wrong?
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>
</html>
