---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home-body">

    {% include header.html %}
    <div class="home-hero">
      <div class="bounds bounds--header">
        <h1>Build amazing mobile apps powered by open web tech.</h1>
        <a href="/getstarted/" class="button--cta">Start Now</a>
        <a href="#benefits" class="link--learn-more">Learn more</a>
      </div>
      <footer>
        <div class="bounds">
          <section class="hero-footer__section">
            <h2>Create your app with PhoneGap</h2>
            <p>Reuse existing web development skills to quickly make hybrid applications built with HTML, CSS and JavaScript. Create experiences for multiple platforms with a single codebase so you can reach your audience no matter their device.</p>
            <a href="http://docs.phonegap.com" class="button--pill--next">Guides &amp; Docs</a>
          </section>
          <div class="vr">&nbsp;</div>
          <section class="hero-footer__section">
            <h2>Package your app in the cloud</h2>
            <p>PhoneGap Build takes the pain out of compiling PhoneGap apps. Get app-store ready apps without the headache of maintaining native SDKs. Our PhoneGap Build service does the work for you by compiling in the cloud.</p>
            <a href="http://build.phonegap.com" class="button--pill--next">Find out more</a>
          </section>
        </div>
      </footer>
    </div>

    <div class="page-content">
      <div class="bounds">
        <section id="benefits" class="benefits">
          <h2>Reap the benefits of open source</h2>
          <p>From the team behind <a href="https://cordova.apache.org/">Apache Cordova</a>, the Adobe PhoneGap framework is an open source distribution of Cordova — providing the advantage of technology created by a diverse team of pros along with a robust developer community — plus access to the PhoneGap toolset, so you can get to mobile faster.</p>
        </section>
        <section class="tools">
          <ul>
            <li class="home-gid__item">
              <a href="/products#desktop-app-section">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-wand.svg %}</div>
                  <h3>PhoneGap Desktop App</h3>
                </header>
                <p>Our desktop app is the snappiest way to create new PhoneGap apps without using the command line.</p>
                <footer>
                  Learn more
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="/products#mobile-app-section">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-bolt.svg %}</div>
                  <h3>PhoneGap Developer</h3>
                </header>
                <p>Use our mobile app to connect your devices to your development machine, then see the changes you make instantly</p>
                <footer>
                  Learn more
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="http://build.phonegap.com">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-cloud.svg %}</div>
                  <h3>PhoneGap Build</h3>
                </header>
                <p>Take the pain out of compiling locally &mdash; get app-store ready apps without the headache of maintaining native SDKs.</p>
                <footer>
                  Learn more
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="http://cordova.apache.org/plugins/">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-puzzle.svg %}</div>
                  <h3>Plugin Library</h3>
                </header>
                <p>Get access to the robust library of plugins to fully extend the capabilities of your hybrid mobile applications.</p>
                <footer>
                  Go to the library
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="/tool/">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-chest.svg %}</div>
                  <h3>Third Party Tools</h3>
                </header>
                <p>Find additional tools created by our amazing community to help you test, debug and manage your apps.</p>
                <footer>
                  View the tools
                </footer>
              </a>
            </li>

            <li class="home-gid__item">
              <a href="https://forums.adobe.com/community/phonegap">
                <header>
                  <div class="home-gid__item__icon">{% include images/icon-heart.svg %}</div>
                  <h3>Developer Community</h3>
                </header>
                <p>Connect and collaborate with our community of thousands, from beginners to experts, all working with PhoneGap.</p>
                <footer>
                  Join the conversation
                </footer>
              </a>
            </li>

          </ul>
        </section>
        <section class="app-showcase">
          <h2>See what’s possible with PhoneGap</h2>
          <div class="app-showcase__box">
            <div>Featured apps from our <a href="/app">App Showcase</a></div>
            <ul>
              <li><a href="/app/tripcase/">
                <div class="app-showcase__img" style="background-image: url('/images/tripcase-icon.jpg')"></div>
                <div class="app-showcase__title">Tripcase</div>
                <div class="app-showcase__developer">by Sabre Inc.</div>
                <div class="app-showcase__platforms"><span class="detritus">Available for </span>iOS and Android</div>
              </a></li>
              <li><a href="/app/sworkit/">
                <div class="app-showcase__img" style="background-image: url('/images/sworkit-icon.jpg')"></div>
                <div class="app-showcase__title">Sworkit</div>
                <div class="app-showcase__developer">by Nexercise</div>
                <div class="app-showcase__platforms"><span class="detritus">Available for </span>iOS and Android</div>
              </a></li>
            </ul>
          </div>
        </section>
        <hr/>
        <section class="latest-blog">
          <h2>The latest from our blog</h2>
          <ul>
            {% assign counter = 0 %}
            {% for post in site.posts %}
              {% if counter < 2 %}
                {% assign counter=counter | plus:1 %}
                <li class="latest-blog__post" itemprop="itemListElement">
                  <time class="latest-blog__date" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ'}}">
                    <span class="latest-blog__month">{{ post.date | date: "%b" }}</span>
                    <span class="latest-blog__day">{{ post.date | date: "%d" }}</span>
                    <span class="latest-blog__year">{{ post.date | date: "%Y" }}</span>
                  </time>
                  <div>
                    <h3 class="latest-blog__title"><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h3>
                    <p class="latest-blog__description">
                      {% if post.format == 'html' %}
                        {{ post.content | strip_html | truncatewords: 20 }}
                      {% else %}
                        {{ post.content | markdown | strip_html | truncatewords: 20 }}
                      {% endif %} <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}" class="latest-blog__read-more">READ MORE</a>
                    </p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
    <div class="sub-footer">
      <div class="bounds">
        <h2>Dig into documentation</h2>
        <div class="sub-footer__description">
            Whether you’re looking for <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/">in-depth guides</a> on how to get started creating PhoneGap apps or <a href="http://docs.phonegap.com/references/desktop-app/">helpful references</a> for using the PhoneGap tools, this is the place to go. How could you go wrong?
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>
</html>
