---
layout: default
title: Products
subtitle: We've got something for every stage of your mobile app development process.
permalink: /products/
subfooter: true
---
<div class="subheader">
  <div class="bounds">
    <h1>{{ page.title }}</h1>
    <div class="subheader__description">{{page.subtitle}}</div>
  </div>
</div>
<article class="page-content">
  <div class="bounds">
    <section class="products--opening-section">
      <h2>Phonegap is the open source framework that gets you building amazing mobile apps using web technology</h2>
      <p>We created this approach to authoring apps because we’re web developers at &#10084;, and wanted to remove the complexity of writing an app in multiple languages (like Objective C and Java) for all of the relevant mobile platforms. With PhoneGap you build beautiful cross-platform apps using HTML, CSS and Javascript.</p>
    </section>
  </div>
  <div class="bounds">
    <section class="products--grid-descriptions">
      <article>
        <h3>Rapid development = better apps</h3>
        <p>For web developers with a history of creating outstanding user experiences and products, PhoneGap is the tool to use to quickly transfer web development skills into making awesome mobile apps. Leverage the web technologies that you know and love to make more time for rapid iterations and releases. By releasing your mobile app early and often, and gathering metrics for quick iterations, your customers get what they want and need.</p>
      </article>
      <article>
        <h3>Cross platform = greater reach</h3>
        <p>There is nothing worse than making your hugely anticipated/successful/helpful mobile app only available for a single platform. It means missing out on a huge part of your potential customer base. By using PhoneGap you can create an app for each of the platforms that you choose, using a single code base. Focus on creating a great experience for all of your potential customers instead of authoring complex platform compatibility layers — it just makes sense.</p>
      </article>
      <article>
        <h3>Native APIs = native functionality</h3>
        <p>Developing your mobile app using HTML, CSS and Javascript doesn’t mean that you have to give up on native functionality that makes mobile devices so extraordinary. PhoneGap gives you access to all of the native device APIs (like camera, GPS, accelerometer and more), so that the app you build with web tech behaves just like a native app. It’s pretty cool.</p>
      </article>
      <article>
        <h3>Open source = great community</h3>
        <p>By remaining free and open source, PhoneGap makes mobile app development accessible to thousands of web developers. We have great community support, which means that there are more people available to help you out and to keep the software current and robust. The Adobe PhoneGap team remains highly active in the stewardship and development of the Apache Cordova project.</p>
      </article>
    </section>
  </div>
  <div class="bounds">
    <section class="products--comparison-section">
      <h2>PhoneGap vs. Apache Cordova</h2>
      <p>We’re often asked “<a href="http://phonegap.com/2012/03/19/phonegap-cordova-and-what%E2%80%99s-in-a-name/">What is difference is between PhoneGap and Cordova?</a>”. Apache Cordova was born from PhoneGap. In 2011, the PhoneGap codebase was donated to Apache for incubation, and the project has continued to thrive ever since. Apache Cordova is still the engine that powers PhoneGap, much like WebKit is the engine that powers many modern web browsers.</p>
      <p>It’s the robust tools that sets PhoneGap apart, including:<br>
      <a href="#phonegap-cli-section">our command line interface</a>, the <a href="#desktop-app-section">PhoneGap Desktop app</a>, the <a href="#mobile-app-section">PhoneGap Developer app</a>, and <a href="#phonegap-build">PhoneGap Build</a>.</p>
    </section>
  </div>
  <section id="phonegap-cli-section" class="products--phonegap-cli-section">
    <h2>PhoneGap CLI</h2>
    <p>The PhoneGap CLI is the <strong>most powerful and flexible way to use PhoneGap</strong>. Built on top of Apache Cordova, you can <strong>create</strong>, <strong>serve</strong>, <strong>compile</strong>, and <strong>run</strong> apps from the comfort of your command-line terminal. Written in Node.js and distributed on npm, you can use the CLI on any platform and integrate it into any web development workflow. Whether developing locally or running a continuous integration server, the PhoneGap CLI will meet your needs.</p>
    <p>If you're a power-user who wants control over your environment, then the PhoneGap CLI is for you.</p>
    <a href="http://docs.phonegap.com/references/phonegap-cli/" class="button--pill--next">Read the Docs</a>
  </section>
  <section id="desktop-app-section" class="products--desktop-app-section">
    <div class="gs-step__content">
      <h2 class="gs-step__title">Desktop App</h2>
      <div class="gs-step__description">
        <p>PhoneGap Desktop is the <strong>simplest way to get started using PhoneGap</strong>. You use it to create apps, and serve those apps to connected mobile devices. It is the alternative to using the CLI, using the same libraries under the hood. So no need to memorize commands or install dependencies - those are all included when you download PhoneGap Desktop.</p>
        <p>If you prefer to use a GUI, then PhoneGap Desktop is for you.</p>
      </div>
      <footer>
        <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/" class="button--pill--next">Get Started</a>
      </footer>
    </div>
    <div class="download">
      <h3 class="download__version">Version 0.2.1 (Beta)</h3>
      <div class="download__label">Download for:</div>
      <ul>
        <li>
          <div class="download__platform"><a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/#mac">Mac</a></div>
          <div class="download__platform__version">OS X 10.9 or later</div>
        </li>
        <li>
          <div class="download__platform"><a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/#win">Windows</a></div>
          <div class="download__platform__version">Windows 8.1</div>
        </li>
        <div class="download__image">{% include images/pg-desktop.svg %}</div>
    </div>
  </section>
  <section id="mobile-app-section" class="products--mobile-app-section">
    <div class="gs-step__content">
      <h2 class="gs-step__title">Developer Mobile App</h2>
      <div class="gs-step__description">
        <p>We created the PhoneGap Developer mobile app so that you can quickly see how your mobile app looks and works. <strong>Develop locally then instantly see changes on your connected mobile device</strong> - without the need to re-sign, re-compile, or reinstall your app to test your code. By testing your PhoneGap app on a mobile device, you get access to device APIs that aren’t available in web browsers.</p>
        <p>PhoneGap Developer gives you the confidence that your app will work as you intend on the devices that you are targeting.</p>
      </div>
      <footer>
        <a href="http://docs.phonegap.com/getting-started/2-install-mobile-app/" class="button--pill--next--gray">Get Started</a>
      </footer>
    </div>
    <div class="download">
      <div class="download__label">Download for:</div>
      <ul>
        <li>
          <div class="download__platform"><a href="https://itunes.apple.com/app/id843536693">iOS</a></div>
          <div class="download__platform__version">From the App Store</div>
        </li>
        <li>
          <div class="download__platform"><a href="https://play.google.com/store/apps/details?id=com.adobe.phonegap.app">Android</a></div>
          <div class="download__platform__version">From Google Play</div>
        </li>
        <li>
          <div class="download__platform"><a href="http://www.windowsphone.com/en-us/store/app/phonegap-developer/5c6a2d1e-4fad-4bf8-aaf7-71380cc84fe3">Windows</a></div>
          <div class="download__platform__version">From The Windows Store</div>
        </li>
        <div class="download__image">{% include images/pg-mobile.svg %}</div>
    </div>
  </section>
  <section id="phonegap-build" class="products--phonegap-build">
    <h2>PhoneGap Build</h2>
    <p>Take the pain of compiling out of mobile app development - simply upload your HTML, CSS and Javascript assets to PhoneGap Build and we’ll package them for you. <strong>Get app-store ready apps without the headache of maintaining native SDKs</strong>. We do the work for you in the cloud and your app will always be built with the most up-to-date SDK for the platform you are targeting.</p>
    <p>Package your mobile apps in the cloud with PhoneGap Build.</p>
    <footer>
      <a href="https://build.phonegap.com/" class="button--pill--next">Find Out More</a>
    </footer>
  </section>
</article>
{% if page.subfooter %}
  <div class="sub-footer">
    <div class="bounds">
      <h2>Dig into documentation</h2>
      <div class="sub-footer__description">
        Whether you’re looking for <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/">in-depth guides</a> on how to get started creating PhoneGap apps or <a href="http://docs.phonegap.com/references/desktop-app/">helpful references</a> for using the PhoneGap tools, this is the place to go. How could you go wrong?
      </div>
    </div>
  </div>
{% endif %}
