<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script src="//use.typekit.net/exp7awb.js"></script>
  <script src="//assets.adobedtm.com/659ec8ada5450db95675e43beaaae92399591a11/satelliteLib-46e65db5bb0c375f8f64619be31cc9b29acf4867.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="/scripts/home.js"></script>
  <script src="/scripts/mobile_nav.js"></script>
  {% for js_name in page.extra_js %}
    <script src="/scripts/{{ js_name }}"></script>
  {% endfor %}
  {% if site.production %}
    <style type="text/css">
      {% capture include_to_sassify %}{% include main.sass %}{% endcapture %}
      {{ include_to_sassify | sassify }}
    </style>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ "/styles/main.css" | prepend: site.baseurl | prepend: site.url }}"/>
  {% endif %}
  <link rel="canonical" data-proofer-ignore href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
