<article class="blog-post__preview">
  <header>
    <time class="blog-post__date" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ'}}">{{ post.date | date: '%B %d, %Y' }}</time> &bull; <span class="blog-post__author">{{ post.author }}</span>
    <h1 class="blog-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    {% include tag-list.html %}
  </header>
  <div class="blog-post__content">
    {% if post.format == 'html' %}
      {{ post.content | strip_html | truncatewords: 50 }}
    {% else %}
      {{ post.content | markdown | strip_html | truncatewords: 50 }}
    {% endif %}
  </div>
  <footer><a href="{{ post.url }}" class="button--pill--blog-post">READ MORE</a></footer>
</article>
