<article class="blog-post__preview">
  <header>
    <div class="blog__dateline">
      <time class="blog-post__date" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ'}}">{{ post.date | date: '%B %d, %Y' }}</time> &bull; <span class="blog-post__author">{{ post.author }}</span>
    </div>
    <h1 class="blog-post__title"><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h1>
    {% include tag-list.html %}
  </header>
  <div class="blog-post__content">
    {% if post.format == 'html' %}
      {{ post.content | strip_html | truncatewords: 50 }}
    {% else %}
      {{ post.content | markdown | strip_html | truncatewords: 50 }}
    {% endif %}
  </div>
  <footer><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}" class="button--pill--blog-post">READ MORE</a></footer>
</article>
