.form__container
  margin-bottom: 5px
.form__label
  display: inline-block
  min-width: 46px
.form__submit-container
  text-align: right
  max-width: 310px
.form__submit
  @extend .button--pill--gray
  padding-top: 0
  cursor: pointer
