.bounds
  max-width: 1200px
.home-header
  position: fixed
  width: 100%
  height: 140px
  z-index: 10
  a
    color: white
  .bounds
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    height: 100%
    padding: 0 20px 0 10px
.home-hero
  height: 820px
  background: #27a1c5
  box-sizing: border-box
  padding-top: 265px
  position: relative
  .bounds--header
    height: 100%
    &:before
      content: ''
      display: block
      width: 620px
      height: 720px
      background: url('../images/phone_robit.svg') no-repeat center
      background-size: contain
      position: absolute
      bottom: -60px
      right: 0
      z-index: 1
  h1
    font-weight: $light-weight
    color: #003252
    font-size: 3.125rem
    line-height: 3.125rem
    z-index: 2
    position: relative
    margin-bottom: 12px
  .button--cta
    margin-right: 30px
  footer
    position: absolute
    bottom: 0
    background: rgba(22,146,178,0.9)
    width: 100%
    z-index: 2
    padding: 20px 0
    .bounds
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-pack: justify
      -webkit-justify-content: space-between
      -ms-flex-pack: justify
      justify-content: space-between
    .vr
      position: relative
      width: 1px
      background: #3fadcf
.link--learn-more
  text-transform: uppercase
  text-decoration: none
  border-bottom: 1px solid white
  color: white
  font-size: 1.0625rem
  padding-bottom: 3px
.hero-footer__section
  color: white
  text-align: center
  max-width: 525px
  h2
    font-size: 30px
    font-weight: bold
    text-transform: none
