// scss-lint:disable QualifyingElement
code.highlighter-rouge {
  margin-right: 2px;
  margin-left: 0;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #003351;
  font-size: 90%;
  letter-spacing: -.05em;
}
// scss-lint:enable QualifyingElement
.highlight {
  display: block;
  margin: 1rem 0;
  padding: .5rem;
  border-radius: 4px;
  background: #3f3f3f;
  color: #dcdcdc;
  font-family: "source-code-pro", monospace;
  overflow: scroll;
  overflow-x: auto;
  -webkit-text-size-adjust: none;

  pre {
    margin: 0;
  }

  .c {
    color: #7f9f7f;
    font-style: italic;
  }

  .err {
    // color: #a61717
    // background-color: #e3d2d2

  }

  .k, .o {
    color: #e3ceab;
  }

  .cm {
    color: #7f9f7f;
    font-style: italic;
  }

  .cp {
    color: #999;
    font-weight: bold;
  }

  .c1 {
    color: #7f9f7f;
    font-style: italic;
  }

  .cs {
    color: #999;
    font-style: italic;
    font-weight: bold;
  }

  .gd {
    background-color: #fdd;
    color: #000;

    .x {
      background-color: #faa;
      color: #000;
    }
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #a00;
  }

  .gh {
    color: #999;
  }

  .gi {
    background-color: #dfd;
    color: #000;

    .x {
      background-color: #afa;
      color: #000;
    }
  }

  .go {
    color: #888;
  }

  .gp {
    color: #e3ceab;
  }

  .gs {
    color: #e3ceab;
  }

  .gu {
    color: #aaa;
  }

  .gt {
    color: #a00;
  }

  .kc, .kd, .kp, .kr {
    color: #e3ceab;
  }

  .kt {
    color: #458;
    font-weight: bold;
  }

  .m {
    color: #099;
  }

  .s {
    color: #cc9393;
  }

  .na {
    color: #e3ceab;
  }

  .nb {
    color: #cc9393;
  }

  .nc {
    color: #458;
    font-weight: bold;
  }

  .no {
    color: #008080;
  }

  .ni {
    color: #800080;
  }

  .ne, .nf {
    color: #900;
    font-weight: bold;
  }

  .nn {
    color: #555;
  }

  .nt {
    color: #efef8f;
  }

  .nv {
    color: #008080;
  }

  .ow {
    color: #e3ceab;
  }

  .w {
    color: #bbb;
  }

  .mf, .mh, .mi, .mo {
    color: #099;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
    color: #cc9393;
  }

  .sr {
    color: #009926;
  }

  .s1 {
    color: #cc9393;
  }

  .ss {
    color: #990073;
  }

  .bp {
    color: #999;
  }

  .vc, .vg, .vi {
    color: #008080;
  }

  .il {
    color: #099;
  }
}
