.page-bounds
  @extend .bounds
  margin-bottom: 60px
  p
    max-width: 750px
.artwork-blocks
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-justify-content: space-around
  -ms-flex-pack: distribute
  justify-content: space-around
.artwork-block
  max-width: 500px
  min-width: 300px
  box-sizing: border-box
  padding: 20px
  margin-bottom: 40px
  text-align: center
