---
layout: default
title: Blog
---
<div class="bounds--blog">
  <div class="blog-post__preview-list">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      {% include post-preview.html %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
  <aside>
    This is an aside.
  </aside>
</div>
