---
layout: default
title: Blog
extra_js:
  - taglist.js
---
<div class="subheader">
  <div class="bounds">
    <h1>Blog</h1>
    <div class="subheader__description">All the latest news and insights on PhoneGap</div>
  </div>
</div>
<div class="bounds--wide">
  <div class="blog-post__preview-list">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      {% include post-preview.html %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination__previous">{% include images/arrow-right.svg %}Newer</a>
      {% else %}
        <span class="pagination__previous">{% include images/arrow-right.svg %}Newer</span>
      {% endif %}

      {% assign pagination_padding = site.paginate_list_count | divided_by: 2 %}
      {% assign lower_limit = paginator.page | minus: pagination_padding %}
      {% assign upper_limit = paginator.page | plus: pagination_padding %}
      {% if paginator.total_pages > site.paginate_list_count %}
        {% if lower_limit <= 0 %}
          {% assign count_start = 1 %}
          {% assign count_end = site.paginate_list_count %}
        {% elsif upper_limit > paginator.total_pages %}
          {% assign count_start = paginator.total_pages | minus: site.paginate_list_count %}
          {% assign count_start = count_start | plus: 1 %}
          {% assign count_end = paginator.total_pages %}
        {% else %}
          {% assign count_start = paginator.page | minus: pagination_padding %}
          {% assign count_end = paginator.page | plus: pagination_padding %}
        {% endif %}
      {% else %}
        {% assign count_start = 1 %}
        {% assign count_end = paginator.total_pages %}
      {% endif %}

      {% for i in (count_start..count_end) %}
        {% if i == paginator.page %}
          <span class="pagination__page--current">{{ i }}</span>
        {% else %}
          {% if i == 1 %}
            <a href="/blog/" class="pagination__page">{{ i }}</a>
          {% else %}
            <a href="/blog/page{{ i }}/" class="pagination__page">{{ i }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination__next">Older{% include images/arrow-right.svg %}</a>
      {% else %}
        <span class="pagination__next">Older{% include images/arrow-right.svg %}</span>
      {% endif %}
    </div>
  </div>
  {% include blog-aside.html %}
</div>
<div class="sub-footer">
  <div class="bounds">
    <h2>Dig into documentation</h2>
    <div class="sub-footer__description">
        Whether you’re looking for <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/">in-depth guides</a> on how to get started creating PhoneGap apps or <a href="http://docs.phonegap.com/references/desktop-app/">helpful references</a> for using the PhoneGap tools, this is the place to go. How could you go wrong?
    </div>
  </div>
</div>
