---
layout: default
---
<div class="subheader">
  <div class="bounds">
    <h1>Blog</h1>
    <div class="subheader__description">All the latest news and insights on PhoneGap</div>
  </div>
</div>
<div class="bounds--blog">
  <article class="blog-post">
    <header>
      <time class="blog-post__date" datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ'}}">{{ page.date | date: '%B %d, %Y' }}</time> &bull; <span class="blog-post__author">{{ page.author }}</span>
      <h1 class="blog-post__title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <ul class="blog-post__tag-list">
        {% if page.tags.size > 0 %}
          {% for post_tag in page.tags %}
            <li><a href="/blog/tag/{{ post_tag | downcase | replace:' ','-' }}/">{{ post_tag }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </header>
    <div class="blog-post__content">
      {{ content }}
    </div>
  </article>
  {% include blog-aside.html %}
</div>
<div class="sub-footer">
  <div class="bounds">
    <h2>Dig into documentation</h2>
    <div class="sub-footer__description">
      Whether you’re looking for <a href="#">in-depth guides</a> on how to build better PhoneGap apps, or <a href="#">references</a> to APIs, configuration and usage this is the place to go. You’ll also find documentation for both PhoneGap and Cordova <a href="#">plugins</a>. How could you go wrong?
    </div>
  </div>
</div>
