---
layout: default
extra_js:
  - taglist.js
---
<div class="subheader">
  <div class="bounds">
    <h2 class="subheader__title">Blog</h2>
    <div class="subheader__description">All the latest news and insights on PhoneGap</div>
  </div>
</div>
<div class="bounds--wide">
  <div class="blog-post__preview-list">
    {{ content }}
  </div>
  {% include blog-aside.html %}
</div>
<div class="sub-footer">
  <div class="bounds">
    <h3 class="sub-footer__title">Dig into documentation</h3>
    <div class="sub-footer__description">
      Whether you’re looking for <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/">in-depth guides</a> on how to get started creating PhoneGap apps or <a href="http://docs.phonegap.com/references/desktop-app/">helpful references</a> for using the PhoneGap tools, this is the place to go. How could you go wrong?
    </div>
  </div>
</div>
